:markdown
  ## Junior

  Junior Support Engineers share the same responsibilities outlined above, but typically
  join with less or alternate experience in one of the key areas of Support Engineering
  expertise (SysAdmin skills, Ruby on Rails, Git, and customer support). For example,
  a person with extensive experience in a web framework other than RoR, but with experience
  on the other three areas would typically join as a Junior.
